.bold{
  font-weight:bold;
}
.thumbnail{
  width: 100%;
  height: 200px;
  background-size: contain;
  overflow: hidden
}
.thumbnail:hover{
  transform: scale(1.5);
}
#wrapper{
  display:flex;
  /* position: relative;*/
  /*height:40vh;*/
  height:45vw;
  width:99vw;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;    
  flex-direction: column;
  border-radius: 1%;
}


.toolbar{
  align-items: center;    
  display:grid;
  grid-template-columns: 120px 120px 120px 120px;
}



@media only screen and (max-width: 500px){

  .toolbar{
    grid-template-columns: 120px 120px 120px;
  }

}
#donations{
  margin:5px 9px 0px 29px;
  color:#3d3d3d;
}
#donations .bold{

  color:#fda085;
}

.item,#learnMore{
  height: 40px;
  margin-top:4px;
  margin-left:6px;
}

#myChart{
  position:relative;
}
#past-login{
  margin-top:290px;
  margin-bottom:100px;
}
#past-login{display:none}
#pre-login{
  height:100px;
  display: flex;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;    
}
button,select{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

select:hover,
select:focus,
select:active,
select:checked,button:hover {
  color:#3d3d3d;
}

.box{
  min-width: 400px;
  width:85vw;
  height:auto;
  border-radius: 1%;
  display:flex;
  align-items: center;    
  flex-direction: column;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#myChart{
  margin-top:10px;
  background:#3d3d3d;
}


html{
  height:100%;
  width: 100%;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #485563, #29323c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+ */
}
